.shape-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shape-icon {
    margin-top: -10px;
    margin-bottom:0px;
    
}

.shape-title {
    margin-top:-20px;
    text-transform: capitalize;
}