* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

.hero {
    margin-top: 90px;
}

.body-container {
    padding: 50px;
}