.results {
    display: block;
    padding-left: 25rem;
    padding-top: 2rem;
    z-index: -2;
    background-color: #f0f0f0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.card {
    margin: 10px 20px;
    border: 2px solid #ededed;
    padding: 15px;
    cursor: pointer;
    background-color: #ffffff;
    width: 100%;
    display: flex;
}

.card-image {
    width: 13rem;
    align-items: center;
    justify-content: center;
}

.card-title {
    margin-bottom: 1rem;
    text-wrap: wrap;
}

.card-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heart-icon {
    color: #535353;
}

@media screen and (max-width: 700px) {
    .results {
      width: 100%;
      height: auto;
      position: relative;
      padding-left: 0rem;
    }
    .sidebar card {float: middle;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }