.results {
    display: block;
    padding-left: 25rem;
    padding-top: 90px;
    z-index: -2;
    background-color: #f0f0f0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
}

@media screen and (max-width: 700px) {
    .results {
      width: 100%;
      height: auto;
      position: relative;
      padding-left: 0rem;
    }
    .sidebar card {float: middle;}
    div.content {margin-left: 0;}
  }